<%= render "posts/header" %>

<div class="container">
  <div class="text-center m-5">
    <div class="p-3 my-4 border-bottom">
      <span class="display-5 fw-bold">編集</span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="p-2 mb-4 bg-light border rounded-3">
      <div class="form-signin">
        <div class="row text-center">
          <%= form_with(model: @user, local: true) do |f| %>

          <%= render 'shared/error_messages', model: f.object %>

          <div class="col-12">
            <div class="fs-1 fw-bold my-1">名前</div>
            <%= f.text_field :name, class:"form-control fs-3", placeholder:"ルート" %>
          </div>
          <div class="row">
            <div class="col-12">
              <%= f.submit "投稿する" ,class:"btn btn-lg btn-primary btn-block my-3 fs-4" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>