
<div class="text-center m-5">
  <div class="my-5">
    <h2>Log in</h2>
  </div>
  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
    <div class="my-2">
      <%= f.label :email%>
    </div>
    <div class="my-2">
      <%= f.email_field :email ,class: "form-control" ,placeholder: "Email address" ,autofocus: true %>
    </div>
    <div class="my-2">
      <%= f.label :password%>
      <i>(英数字6文字以上)</i>
    </div>
    <%= f.password_field :password ,class: "form-control" ,placeholder: "Password" ,autocomplete: "off" %>
    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block my-5"%>
  <% end %>
</div>