  <div class="container">
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% @posts.reverse.each do |post| %>
                    <div class="col">
                        <div class="card shadow-sm">
                            <% if post.images[0] == nil %>
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">No images posted</text></svg>
                                <% else %>
                                <%= image_tag post.images[0], class: "img-thumbnail", style: "height:225px" , alt: "image cap" %>
                            <% end %>
                            <div class="card-body">
                                <p class="card-text">ルート名：<%= post.run_spot %></p>
                                <p class="card-text">走行距離：<%= post.mileage.name %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <%= link_to "View", post_path(post.id), class: "btn btn-sm btn-outline-secondary" %>
                                        <% if user_signed_in? %>
                                        <% if current_user.id == post.user_id %>
                                        <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-sm btn-outline-secondary" %>
                                        <% end %>
                                        <% end %>
                                    </div>
                                    <small class="text-body-secondary">投稿日：<br><%= l post.created_at %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
  </div>