<%= render "header" %>

<div id="container w-100">

    <%= image_tag 'yama_image.jpg', class: "w-100", alt: "image cap" %>

    <div class="bg_image1">
        <div class="bg-opacity p-0">
            <div class="text-center text-shadow-neon">
                <div class="fs-1 fw-bold py-4">
                    <p class="font-weight-bold">
                    情報をシェアしてとっておきのルートを見つけよう！
                    </p>
                </div>
                <div class="fs-2 fw-bold pb-5">
                    <p class="font-weight-bold">自転車好き・ヒルクライム好きが
                    <br>それぞれの体験をもとに、
                    <br>情報をシェアしあうサービスです。</p>
                    <p class="font-weight-bold">口コミ投稿を見ているだけで、
                    <br>「週末どこに走りに行く？」を解決します。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
                <% @posts.last(8).reverse.each do |post| %>
                <%#= link_to post_path(post.id) do %>
                    <div class="col">
                        <div class="card shadow-sm">
                            <% if post.images[0] == nil %>
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">No images</text></svg>
                                <% else %>
                                <%= image_tag post.images[0], class: "img-thumbnail", style: "height:225px" , alt: "image cap" %>
                            <% end %>
                            <div class="card-body">
                                <p class="card-text">ルート名：<%= post.run_spot %></p>
                                <p class="card-text">走行距離：<%= post.mileage.name %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <%= link_to "View", post_path(post.id), class: "btn btn-sm btn-outline-secondary" %>
                                    </div>
                                    <small class="text-body-secondary text-black-50">投稿者<br><%= post.user.name %> </small>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                <%# end %>
            </div>
        </div>
    </div>

    <div class="text-center">
        <%= link_to "投稿をもっと見る", posts_all_show_path, class: "btn btn-secondary btn-lg my-2 fs-4" %>
    </div>

    <div style="background-color: #87cefa;">
        <div class="row p-0 m-0 mt-5">
            <div class="col text-content text-center">
                <div class="py-1 text-shadow">
                    <h2 class="fs-1 fw-bold my-5">気になる投稿をチェック！</h2>
                    <div class="fs-2 fw-bold">
                        <p class="font-weight-bold text-shadow">ルートは？走行距離は？
                        <br>走りに行く前に気になる情報をチェックしよう！</p>
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-inline text-center p-0">
                <%= image_tag 'raid_image2.jpg', class: "img-thumbnail", style: "width:400px" , alt: "image cap" %>
            </div>
        </div>
    </div>

    <div class="row p-0 m-0">
        <div class="col d-none d-md-inline">
            <div class="image-content text-center">
                <%= image_tag 'yama_image1.jpg', class: "img-thumbnail", style: "width:400px" , alt: "image cap" %>
            </div>
        </div>
        <div class="col text-content text-center py-1">
            <h2 class="fs-1 fw-bold my-5 text-shadow">走ったルートを投稿しよう！</h2>
            <div class="fs-2 fw-bold">
                <p class="font-weight-bold text-shadow">難易度や絶景度などの評価もできます。
                <br>「どんなルートを走ったか」「どう感じたのか」は、
                <br>自転車人生を振り返るポイントになるはず。
                <br>他の人が登る際の参考にもなります。</p>
            </div>
        </div>
    </div>

    <div style="background-color: #87cefa;">
        <div class="row p-0 m-0">
            <div class="col">
                <div class="text-content text-center py-1">
                    <h2 class="fs-1 fw-bold my-5 text-shadow">思い出をシェア！</h2>
                    <div class="fs-2 fw-bold">
                        <p class="font-weight-bold text-shadow">自転車乗りの目線で口コミを書くことができます。
                        <br>写真だけでなく、「感動した」「辛かった」
                        <br>「いつ登った」など、私たちだけが味わえる
                        <br>『体験』を残していこう。</p>
                    </div>
                </div>
            </div>
            <div class="col d-none d-md-inline p-0">
                <div class="image-content text-center p-0">
                    <%= image_tag 'yama_post1.jpg', class: "img-thumbnail", style: "width:400px" , alt: "image cap" %>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center my-5">
    <% if user_signed_in? %>
        <p class="fs-1 text-shadow">◇投稿してシェアしよう！◇</p>
        <%= link_to "　投稿画面へ　", new_post_path, class: 'btn btn-secondary btn-lg my-2 fs-4' %>
    </div>
    <% else %>
        <p class="fs-1 text-shadow">◇登録してシェアしよう！◇</p>
        <%= link_to "新規登録へ", new_user_registration_path, class: 'btn btn-secondary btn-lg my-2 fs-4' %>
    </div>
    <% end %>
</div>

<% if user_signed_in? %>
    <%= link_to(new_post_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text fs-3'>投稿</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
        <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
        </svg>
    <% end %>
<% end %>

<footer class="footer navbar navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <div class="h1"> 　HIRUKURA　 </div>
      </a>
  </div>
</footer>