<%= render "header" %>

  <div class="container bg-light">
    <div class="p-3 my-4 border-bottom text-center">
        <span class="display-5 fw-bold">走行ルート:<%= @post.run_spot %></span>
    </div>

    <div class="p-2 mb-4 bg-body-tertiary border rounded-3">
      <div class="container-fluid py-2">
        <div class="row">
          <div class="col">
            <%= image_tag 'yama_image1.jpg', class: "img-thumbnail", style: "width:600px" , alt: "image cap" %>
            <%= image_tag 'yama_image1.jpg', class: "img-thumbnail", style: "width:600px" , alt: "image cap" %>
            <div class="p-2 mt-2">
              <%= link_to "投稿者:#{@post.user.name}",  user_path(@post.user.id), class: "display-6 fw-bold text-black-50" %>
            </div>
          </div>
          <div class="col-lg ">
            <div class="p-3 pb-0">
              <p class="display-6 fw-bold border-bottom">都道府県</p>
              <p class="display-6 fw-bold pb-2"><%= @post.prefecture.name %></p>
              <p class="display-6 fw-bold border-bottom">走行距離</p>
              <p class="display-6 fw-bold pb-2"><%= @post.mileage.name %></p>
              <p class="display-6 fw-bold border-bottom">所要時間</p>
              <p class="display-6 fw-bold pb-2"><%= @post.required_time.name %></p>
              <p class="display-6 fw-bold border-bottom mt-5">達成感</p>
              <p class="display-6 fw-bold pb-2"><span class="star5_rating" data-rate= "<%= @post.achievement_level.name %>"></span></p>
              <p class="display-6 fw-bold border-bottom">おすすめ度</p>
              <p class="display-6 fw-bold pb-2"><span class="star5_rating" data-rate= "<%= @post.recommendation.name %>"></span></p>
              <p class="display-6 fw-bold border-bottom">景色の良さ</p>
              <p class="display-6 fw-bold pb-2"><span class="star5_rating" data-rate= "<%= @post.scenic_beauty.name %>"></span></p>
              <p class="display-6 fw-bold border-bottom">斜度難易度</p>
              <p class="display-6 fw-bold pb-2"><span class="star5_rating" data-rate= "<%= @post.slope_difficulty.name %>"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center my-4">
      <% if user_signed_in? %>
        <% if current_user.id == @post.user_id %>
        <div class="col-6">
          <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-lg btn-primary btn-block my-1 fs-4 w-100" %>
        </div>
        <div class="col-6">
          <%= link_to "削除する", post_path(@post.id), data: { turbo_method: :delete }, class: "btn btn-lg btn-danger btn-block my-1 fs-4 w-100" %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="row text-center align-items-md-stretch mb-4">
      <div class="col">
        <div class="p-5 bg-body-tertiary border rounded-3">
          <h2 class="display-6 fw-bold border-bottom">投稿者のコメント</h2>
          <p class="display-6 p-3 break-spaces"><%= @post.comment %></p>
        </div>
      </div>
    </div>

  <div class="row text-center align-items-md-stretch mb-4">
    <div class="col">
      <div class="p-5 bg-body-tertiary border rounded-3">
        <h2 class="display-6 fw-bold border-bottom">コメント</h2>
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <%= form.text_area :text, class:"form-control fs-3", placeholder: "コメントする", rows: "4" %>
          <%= form.submit "SEND", class:"btn btn-lg btn-primary btn-block my-3 fs-4" %>
          <% end %>
        <% else %>
          <p class="fs-4 fw-bold p-5">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
        <% end %>
        <div class="col pb-5">
          <h2 class="display-6 fw-bold border-bottom">コメント一覧</h2>
          <% @comments.each do |comment| %>
            <p class="col-12 fs-2 pt-3">
              <strong class="break-spaces"><%= comment.text %></strong>
              <strong class="text-black-50 p-3">by:<%= comment.user.name %></strong><%#= link_to comment.user.name, "/users/#{comment.user_id}" %>
            <% if user_signed_in? && current_user.id == comment.user_id %>
              <%= button_to "削除する", post_comment_path(@post,comment.id), method: :delete %>
            <% end %>
            </p>
            <%#= link_to "削除する", post_comment_path(comment), data: { turbo_method: :delete }, class: "btn btn-lg btn-danger btn-block my-1 fs-4 w-100" %>
          <% end %>
        </div>
      </div>
  </div>
</div>